
@model IEnumerable<Data.Access.Layer.Models.MultiModelPage>

@{
    ViewData["Title"] = "BadgeOutPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>BadgeOutPage</h3>
<br>


<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Badge</th>
            <th>Assign Time(in sec)</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td> <img src="@Url.Content(@item.PhotoUrl)" height="100px" width="100px"/></td>
                <td>@item.Name</td>
                <td>@item.TempBadge</td>
                <td>@item.AssignTime</td>
        </tr>
}
    </tbody>
</table>
